:root {
	/* TODO: find a better naming scheme for color variables */
	--color-bg-dark: rgb(31, 34, 39);
	--color-bg-light: rgb(36, 39, 45);

	--color-black: rgb(24, 26, 31);

	--color-white: rgb(172, 178, 190);
	--color-white-bright: rgb(180, 180, 180);
	--color-white-brightest: rgb(216, 218, 224);

	--color-grey: rgb(117, 119, 122);
	--color-grey-border: rgba(78, 86, 102, 0.38);
	--color-grey-dim: rgb(74, 80, 96);

	--color-red: rgb(210, 115, 120);

	/* TODO: Consolidate all colors here */

	--font-system: -apple-system, 'system-ui', sans-serif;
}

@font-face {
	font-family: 'Fira Code';
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 400;
	src: url('$lib/assets/fonts/fira-code/FiraCode-VariableFont_wght.ttf') format('truetype');
}

* {
	font-family: 'Fira Code', monospace;
	font-size: 16px;
}

@media (width <= 600px) {
	* {
		font-size: 12px;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

button {
	touch-action: manipulation;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--color-bg-light);
}

::-webkit-scrollbar-track:vertical {
	border-left: 1px solid var(--color-grey-border);
}

::-webkit-scrollbar-track:horizontal {
	border-top: 1px solid var(--color-grey-border);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color-grey-border); /* Inspected VSCode in browser */
}

/* Corner */
::-webkit-scrollbar-corner {
	background: transparent;
}

::-webkit-scrollbar-thumb:horizontal:hover,
::-webkit-scrollbar-thumb:vertical:hover {
	background: rgba(90, 99, 117, 0.5); /* Inspected VSCode in browser */
}

::-webkit-scrollbar-thumb:horizontal:active,
::-webkit-scrollbar-thumb:vertical:active {
	background: rgba(116, 125, 145, 0.5); /* Inspected VSCode in browser */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
